.service{
    background: var(--service);
    height: 100vh;
    position: relative;
}

.service .row{
    height: 40%;
}

.service .text-layer{
    top: 10%;
}

.service .text-layer>div>span{
    line-height: 480px;
  }


.service-box{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
    /* gap: 1rem; */
    /* height: 2rem; */
}
.service-box div{
    background: var(--gray);
    padding: 1rem 2rem;
    color: var(--white);
    opacity: 1;
    max-width: 550px;
    min-width: 300px;
}

.service-box p{
    max-width: 200px;
}
.service-box .service-item{
    list-style: none;
    padding: 0;
}