header{
    display: flex;
    justify-content: space-between;
    padding: 48px 100px 48px 98px;
    color: var(--white);
}

.navbar{
    display: flex;
    gap: 2rem;
    list-style: none;
    text-transform: capitalize;
}

.navbar>li:hover{
    color: var(--red);
    cursor: pointer;
}